.Header{
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color: var(--color-white-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 10;
}
.logo{
    color: var(--color-black);
    font-size: 1.5rem;
    cursor: pointer;
}
nav{
    height: 100%;
}

.nav-bar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    list-style-type: none;
}
.nav-link-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav-links{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color-black);
    transition: 0.5s;
}

.nav-link-line{
    height: 0.3rem;
    width: 100%;
    position: absolute;
    left:0;
    bottom: 0;
    background-color: var(--color-dark-green);
    transition: 0.5s;
}

.nav-link-container:hover .nav-links{
    color: var(--color-dark-green);

}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    nav{
        display: block;
        position: fixed;
        top: 0;
        right: -15rem;
        transition: 0.2s ease-in;
    }
    .mobile-nav{
        right: 0;
    }
    .nav-bar{
        width: 15rem;
        flex-direction: column;
        background-color: var(--color-white-green);
        padding: 8rem 2rem 0 2rem;
        justify-content: flex-start;
    }
    .nav-link-container {
        height: auto;
        padding-bottom: 0.5rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .Header{
        padding: 0 2rem;
    }

    .hamburger-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1.5rem;
        z-index: 15;
    }
    .line{
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        background-color: var(--color-black);
        transition: 0.5s;
    }
    .hamburger-menu-opened .line2{
        opacity: 0;
    }
    .hamburger-menu-opened .line1{
        transform: rotate(-45deg) translate(-5px,10px);
    }
    .hamburger-menu-opened .line3{
        transform: rotate(45deg) translate(-5px,-10px);;
    }
}